/* _-_-_- base/RESET -_-_-_ */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration-line: none;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* _-_-_- base/RESET -_-_-_ */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration-line: none;
}

body {
  font-family: "Roboto";
  font-weight: 300;
}

body {
  background-color: #FAFAFA;
}

header {
  display: flex;
  max-width: inherit;
  min-width: 500px;
  height: 90px;
}

nav {
  width: 1440px;
  height: 90px;
  left: 0px;
  top: 90px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px;
  border-color: #D6D6D6;
}

.nav__left {
  display: flex;
  justify-content: flex-end;
  width: 110px;
}
.nav__left #logo {
  left: 57px;
  align-self: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #6E6E6E;
}
.nav__left #logo :visited {
  color: #6E6E6E;
}

.nav__right {
  width: 380px;
  display: flex;
  justify-content: flex-end;
}
.nav__right ul {
  display: flex;
  width: 380px;
  align-self: flex-end;
}
.nav__right ul li {
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 16px;
  top: 32px;
}
.nav__right ul li a, .nav__right ul li a:visited {
  color: #424242;
}

section {
  width: 870px;
  height: 644px;
  align-self: flex-end;
  margin: 0;
  padding: 0;
}
section .img {
  width: 216px;
  height: 216px;
}
section .product__container1 {
  position: absolute;
  width: 216px;
  height: 302px;
  left: 369px;
  top: 162px;
  padding-right: 50px;
  padding-bottom: 40px;
}
section .product__container2 {
  position: absolute;
  width: 216px;
  height: 302px;
  left: 635px;
  top: 162px;
  padding-right: 50px;
  padding-bottom: 40px;
}
section .product__container3 {
  position: absolute;
  width: 216px;
  height: 302px;
  left: 901px;
  top: 162px;
  padding-right: 50px;
  padding-bottom: 40px;
}
section .product__container4 {
  position: absolute;
  width: 216px;
  height: 302px;
  left: 1167px;
  top: 162px;
  padding-right: 50px;
  padding-bottom: 40px;
}
section .product__container5 {
  position: absolute;
  width: 216px;
  height: 302px;
  left: 369px;
  top: 504px;
  padding-right: 50px;
  padding-bottom: 40px;
}
section .product__container6 {
  position: absolute;
  width: 216px;
  height: 302px;
  left: 635px;
  top: 504px;
  padding-right: 50px;
  padding-bottom: 40px;
}
section .product__container7 {
  position: absolute;
  width: 216px;
  height: 302px;
  left: 901px;
  top: 504px;
  padding-right: 50px;
  padding-bottom: 40px;
}
section .product__container8 {
  position: absolute;
  width: 216px;
  height: 302px;
  left: 1167px;
  top: 504px;
  padding-right: 50px;
  padding-bottom: 40px;
}

aside {
  position: absolute;
  width: 262px;
  height: 371px;
  left: 57px;
  top: 162px;
  background-color: #155BCC;
}

.aside__contact, .aside__contact-text, .aside__cart, .aside__cart-status {
  color: #ffffff;
}

/*# sourceMappingURL=main.css.map */
