@import 'reset';
@import 'variables';
@import 'typography';
@import 'reset';
@import 'base';


body {
    background-color: $background;
}
//TODO : display flex on body -> aside & section don't overlap?

header {
    display: flex;
    max-width: inherit;
    min-width: 500px;
    height: 90px;
}

nav {
    width: 1440px;
    height: 90px;
    left: 0px;
    top: 90px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px;
    border-color: $gray;
}

.nav__left {
    display: flex;
    justify-content: flex-end;
    width: 110px;
    #logo {
        // position: absolute;
        // width: 160px;
        // height: 90px;
        left: 57px;
        align-self: center;

        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        color: #6E6E6E;
    }

    #logo :visited {
        color: #6E6E6E;
    }

}

.nav__right {
    width: 380px;
    display: flex;
    justify-content: flex-end;
    ul {
        display: flex;
        width: 380px;
        align-self: flex-end;
            li {
            padding-left: 36px;
            padding-right: 36px;
            padding-top: 16px;
            top: 32px;
            a, a:visited {
                color: $dark-text;
            }
        }
    }
}

section {
    width: 870px;
    height: 644px;
    align-self: flex-end;
    margin: 0;
    padding: 0;

    .img {
        width: 216px;
        height: 216px;
    }
    .product__container1 {
        position: absolute;
        width: 216px;
        height: 302px;
        left: 369px;
        top: 162px;
        padding-right: 50px;
        padding-bottom: 40px;
    }

    .product__container2 {
        position: absolute;
        width: 216px;
        height: 302px;
        left: 635px;
        top: 162px;
        padding-right: 50px;
        padding-bottom: 40px;
    }

    .product__container3 {
        position: absolute;
        width: 216px;
        height: 302px;
        left: 901px;
        top: 162px; 
        padding-right: 50px;
        padding-bottom: 40px;
    }

    .product__container4 {
        position: absolute;
        width: 216px;
        height: 302px;
        left: 1167px;
        top: 162px;
        padding-right: 50px;
        padding-bottom: 40px;
    }

    .product__container5 {
        position: absolute;
        width: 216px;
        height: 302px;
        left: 369px;
        top: 504px;
        padding-right: 50px;
        padding-bottom: 40px;
    }

    .product__container6 {
        position: absolute;
        width: 216px;
        height: 302px;
        left: 635px;
        top: 504px;
        padding-right: 50px;
        padding-bottom: 40px;
    }

    .product__container7 {
        position: absolute;
        width: 216px;
        height: 302px;
        left: 901px;
        top: 504px;
        padding-right: 50px;
        padding-bottom: 40px;
    }

    .product__container8 {
        position: absolute;
        width: 216px;
        height: 302px;
        left: 1167px;
        top: 504px;
        padding-right: 50px;
        padding-bottom: 40px;
    }
}

aside {
    position: absolute;
    width: 262px;
    height: 371px;
    left: 57px;
    top: 162px;
    background-color: $light-blue;

}

.aside__contact, .aside__contact-text, .aside__cart, .aside__cart-status {
    color : $white;
}


//TO DO remaining for this iteration
//[DONE]1. align logo with rest 
//2. media query
//3. padding products with flex : gap, row-gap, column-gap
//4. products : flex-basis
//5. about page - populate
//6. contact page - populate
//7. API calls - would be nice




